<div class="container my-3" style="width: 85%;">
<strong><%= link_to comment.user.username, profile_path(comment.user), style: 'text-decoration: none; color: black; font-size: small' %></strong>
<br>
<small>
  <%=comment.description %>
</small>
</div>