<div class="chatroom_content">
  <ul class="message_list">
    <% @chatroom.messages.each do |message| %>
      <div class="d-flex justify-content-<%= message.user==current_user ? "end" : "start"%>">
        <li>
          <%=  render message %>
        </li>
      </div>
    <% end %>
  </ul>
</div>