<% @users.each do |user| %>
  <% unless user==current_user %>
    <div class="user_box">
      <%= user.username %>
      <%= link_to 'Message', { :controller => :chatrooms, :action => :create, :user_ids => [user.id], :direct => true } , method: :post, class: 'btn btn-outline-primary'%>
      <%= link_to 'View', profile_path(user), class: "btn btn-outline-primary" %>
      <hr>
    </div>
  <% end %>
<% end %>