<%= render 'post_layout', post: @post %>
<div class="container mb-5" style="width: 30%">
  <a onclick="Comment()"><i class="bi bi-chat-square-dots btn btn-outline-success btn-sm"></i></a>
  <br>
  <div id="comment" style="display: none">
    <%= render partial: 'comments/new_comment', locals: {object: @post} %>
  </div>
  <% if @post.comments.any? %>
    <strong>Comments:</strong>
    <hr>
    <%= render @post.comments %>
  <% end %>
</div>
<script>
function Comment() {
  var x = document.getElementById("comment");
  if (x.style.display === "none") {
    x.style.display = "block";
    } else {
    x.style.display = "none";
  }
}
</script>