// Place all the styles related to the chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ul{
  list-style: none;
  li{
    margin-bottom: 7px;
  }
}
.chatroom_show{
  width: 40rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: black;
}
a{
  color:black;
  text-decoration: none;
}
.chatroom_box{
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color:black;
  width: 30rem;
}
.chatroom_box:hover {
  background-color: #f8f9fa;
  color: black;
  text-decoration: none;
}

.link_to_chatroom {
  color: black;
  text-decoration: none;
}
.link_to_profile{
  color: black;
  text-decoration: none;
}
.link_to_profile:hover{
  color: grey;
}

span.added{
  display: none;
}
.participant{
  font-size: large;
}

