<nav class="navbar fixed-bottom py-0 navbar-expand navbar-light" style="background: #faf9f9">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavBot">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item mx2">
            <%= link_to content_tag(:i, nil, class: "bi bi-house-fill"), root_path, class: 'nav-link'%>
          </li>
          <li class="nav-item mx-2">
            <%= link_to content_tag(:i, nil, class: "bi bi-plus-circle"), new_post_path, class: 'nav-link'%>
          </li>
          <li class="nav-item mx-2">
            <%= link_to content_tag(:i, nil, class: "bi bi-person-circle"), profile_path(current_user), class: 'nav-link'%>
          </li>
          <li class="nav-item mx-2">
            <%= link_to content_tag(:i, nil, class: "bi bi-box-arrow-right"), destroy_user_session_path, method: :delete, class: 'nav-link'%>
          </li>
        <% else %>
          <li>
            TwitterClone
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>